<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    <ul th:each="sub:${Subscriber}" >
         <li th:text="${sub.firstName}"></li>        
    </ul>
</body>
</html>